{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid text-center" style="padding-right: 0;padding-left: 0">
        <div class="row bg-white align-items-center justify-content-center"
             style="height: 70px; width: 100%; margin-left: 0;margin-right: 0;">
            <div class="col-2 " style="color: #0d6efd">
                <div class="spinner-border text-primary spinner-border-sm"></div>
                <span>基本信息</span>
            </div>
            <div class="col-auto">
                <span style="color:#ced4da ">
                    ------------------
                </span>
            </div>
            <div class="col-2 " style="color: #ced4da">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-2-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM6.646 6.24c0-.691.493-1.306 1.336-1.306.756 0 1.313.492 1.313 1.236 0 .697-.469 1.23-.902 1.705l-2.971 3.293V12h5.344v-1.107H7.268v-.077l1.974-2.22.096-.107c.688-.763 1.287-1.428 1.287-2.43 0-1.266-1.031-2.215-2.613-2.215-1.758 0-2.637 1.19-2.637 2.402v.065h1.271v-.07Z"></path>
                </svg>
                <span>数据集信息</span>
            </div>

            <div class="col-auto">
                <span style="color:#ced4da ">
                    ------------------
                </span>
            </div>

            <div class="col-2" style="color: #ced4da">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-3-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.082.414c.92 0 1.535.54 1.541 1.318.012.791-.615 1.36-1.588 1.354-.861-.006-1.482-.469-1.54-1.066H5.104c.047 1.177 1.05 2.144 2.754 2.144 1.653 0 2.954-.937 2.93-2.396-.023-1.278-1.031-1.846-1.734-1.916v-.07c.597-.1 1.505-.739 1.482-1.876-.03-1.177-1.043-2.074-2.637-2.062-1.675.006-2.59.984-2.625 2.12h1.248c.036-.556.557-1.054 1.348-1.054.785 0 1.348.486 1.348 1.195.006.715-.563 1.237-1.342 1.237h-.838v1.072h.879Z"></path>
                </svg>
                <span>
                    结果信息
                </span>
            </div>
        </div>
        <div class="row" style="width: 100%;margin-top: 20px;margin-left: 0;margin-right: 0;">
            <div class="container bg-white text-center " style="padding: 60px">
                <div>
                    <form id="create1" method="post" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 130px">任务名称</span>
                            <input type="text" class="form-control" name="taskname">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 130px">Global_epoch</span>
                            <input type="text" class="form-control" name="global_epoch">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 130px">Local_epoch</span>
                            <input type="text" class="form-control" name="local_epoch">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 130px">联邦学习算法</span>
                            <select class="form-control" name="algorithm">
                                <option style="display:none"></option>
                                <option value="Fed-avg">Fed-avg</option>
                                <option value="VFed-avg">VFed-avg</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 130px">使用节点数</span>
                            <select class="form-control" name="client_num">
                                <option style="display:none"></option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 130px">每轮选择节点数</span>
                            <input type="number" class="form-control" name="chose_num">
                        </div>
                    </form>

                </div>
                <div class="row align-items-center">
                    <div class="col pt-3">
                        <button type="submit"  form="create1" class="btn btn-primary ">下一步</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}