{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VFed-Platform</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href={% static 'css/mdi/css/materialdesignicons.min.css' %}>
    <link rel="stylesheet" href={% static 'css/base/vendor.bundle.base.css' %}>
    <link rel="stylesheet" href={% static 'css/style.css' %}>
    <script src={% static 'css/base/vendor.bundle.base.js' %}></script>
<script src={% static 'js/off-canvas.js' %}></script>
<script src={% static 'js/hoverable-collapse.js' %}></script>
<script src={% static 'js/template.js' %}></script>
<script scr={% static 'js/jquery-3.6.1.min.js' %}></script>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src={% static 'img/logo2.png' %}>
                        </div>
                        <h6 class="font-weight-light">找回密码</h6>
                        <form id="form" name="form" method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="email" id="email" class="form-control form-control-lg"
                                           placeholder="请输入你的邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="vertify" id="vertify" class="form-control"
                                               placeholder="请输入校验码">
                                        <span class="input-group-btn ">
                                            <button type="button" id="sendEmail" class="btn btn-default btn-primary">获取验证码</button>
                                </span>
                                    </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="newpassword" id="newpassword" class="form-control" placeholder="请输入新密码">
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                    确认
                                </button>
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    &nbsp;
                                </div>
                                <a href="/login" class="auth-link text-black">返回登录</a>
                            </div>
                        </form>

                        <script>
                            //展现显现错误提示信息
                            function showError(message) {
                                alert(message)
                            }



                            //邮箱验证
                            function testEmail(str) {
                                var re = /^\w+@[0-9a-z]+\.[a-z]+$/;
                                return re.test(str);
                            }

                            $("#sendEmail").click(function () {
                                var email = $("#email").val();//获取用户输入邮箱
                                if (email === '' || !testEmail(email)) {//验证邮箱格式
                                    showError('邮箱格式不正确，请重输');
                                } else {
                                    $("#sendEmail").attr("disabled", true);
                                    //按钮不可再次点击，开始倒计时
                                    $.ajax({
                                        url: "/reg/",
                                        type: "post",
                                        data: {
                                            type: 'sendMessage',
                                            csrfmiddlewaretoken: '{{ csrf_token }}',
                                            email: email
                                        },
                                        dataType: "json",
                                        success: function (reg) {
                                            // 短信发送失败
                                            if (!reg.state) {
                                                $("#sendEmail").attr("disabled", false);
                                                showError(reg.errmsg);
                                            } else {
                                                console.log(reg.state);
                                                settime();//短信发送成功，倒计时
                                            }
                                        }
                                    });
                                    var btn_sendEmail = $("#sendEmail");
                                    var countdown = 60;

                                    function settime() {
                                        if (countdown === 0) {
                                            btn_sendEmail.attr("disabled", false);
                                            btn_sendEmail.text("获取验证码");
                                            return false;
                                        } else {
                                            btn_sendEmail.attr("disabled", true);
                                            btn_sendEmail.text("重新发送(" + countdown + ")");
                                            countdown--;
                                        }
                                        setTimeout(function () {
                                            settime();
                                        }, 1000);
                                    }
                                }
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>